* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #24292E;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.active {
    color: rgb(204, 51, 51);
}

nav a:hover {
    color: rgb(204, 51, 51);
}


#table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 40px 70px;
    margin-bottom: 80px;
}

table {
    padding-bottom: 30px;
    border-collapse: collapse;
    margin: 10px 0 40px 0;
}

tr {
    display: table;
}

th {
    width: 15%;
    height: 35px;
    color: #24292E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    color: #24292E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td:hover {
    cursor: pointer;
}

.searches {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-top: 50px;
}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}


input {
    height: 30px;
    width: 150px;
}

#input_field {
    margin-bottom: 20px;
    font-size: 11pt;
}

#search_field {
    font-size: 11pt;
}

td {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 11pt;
    width: 15%;
    word-wrap: break-word;
    padding: 8px 5px;
}

#td {
    padding: 10px;
    border: 2px solid #24292e38;
    margin: 0;

}

tr {
    width: 100%;
}

p {
    padding-left: 20px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 10pt;
}

img {
    padding-top: 50px;
    height: 20rem;
}

#title {
    padding-top: 10%;
    font-weight: 500;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#back_button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 50px;
    border: none;
    background-color: white;
    box-shadow: none;
}

.group {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    cursor: pointer;
    line-height: 20px;
    padding: 6px 16px;
    font-weight: 500;
}

#info {
    margin-bottom: 30px;
    color: rgb(204, 51, 51);
    font-size: 9pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grund {
    border: 2px solid #24292E;
    margin: 10px;
    margin-bottom: 80px;
    width: 80%;
}

#grund td {
    padding: 10px 15px;
    text-align: center;
    line-height: 1.5;
}

#grund th {
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    border-bottom: 2px solid #24292e38;
    padding: 15px 15px;
    background-color: #24292e18;
}


#back_button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 50px;
    border: none;
}


.group,
input {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    cursor: pointer;
    line-height: 20px;
    padding: 6px 16px;
    font-weight: 500;
}

h3,
label {
    color: #24292E;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

h3 {
    font-size: 12pt;
    font-weight: 500;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding-top: 20px;
}


.date {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 10pt;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#stat_title {
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#statistics_button,
#stat_group {
    margin-top: 15px;
}