<div class="searches">
    <input id="search_field" type="text" id="search" placeholder="Sök på nyckelord" />
    <button onclick="search_kuy()" id="search_button">Sök</button>
    <button onclick="clear_search()" id="clear_button">Rensa</button>


    <select class="group" name="group" id="group">
        <option value="" selected disabled hidden>Välj grupp</option>
        <option value="V1">V1</option>
        <option value="V2">V2</option>
        <option value="S1">S1</option>
    </select>

    <div class="date">
        <input type="date" class="thisdate" id="kuy_date" name="date" value="2024-08-01" min="2024-01-01"
            max="2030-12-31" />
    </div>


    <button id="create" onclick="createFile_kuy()">Skapa pass</button>

</div>
<p id="info"></p>

<table id="table">
    <tr style="margin-bottom: 10px;">
        <th class="yellow" style="background-color: rgb(237, 240, 96);border: 1px solid #24292e38;">
        </th>
        <th class="orange" style="background-color: rgb(240, 128, 60);border: 1px solid #24292e38;">
        </th>
        <th class="green" style="background-color: rgb(81, 152, 114);border: 1px solid #24292e38;"></th>
        <th class="blue" style="background-color: rgb(52, 89, 149);border: 1px solid #24292e38;"></th>
        <th class="brown" style="background-color: rgb(72, 39, 40);border: 1px solid #24292e38;"></th>
    </tr>

    <tr>
        <th colspan="5">KIHON WAZA - ATEMI WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">
            1. Shotei uchi, jodan, rak stöt med främre och bakre handen</td>
        <td class="orange ">4. Mawashi shotei uchi, jodan, cirkulär stöt med bakre handen</td>
        <td class="green">7. Mawashi seiken tski, jodan, cirkulärt slag med främre och bakre handen</td>
        <td class="blue">10. Seiken tski, jodan, rakt slag med främre och bakre handen</td>
        <td class="brown">14. Empi uchi, jodan, cirkulär stöt med främre och bakre armen</td>
    </tr>

    <tr>
        <td class="yellow">
            2. Shotei uchi, chudan, rak stöt med främre och bakre handen</td>
        <td class="orange ">5. Chudan tski, stöt snett uppåt med bakre handen</td>
        <td class="green">8. Kin geri, gedan, spark snett uppåt med främre och bakre benet</td>
        <td class="blue">11. Seiken tski, chudan, rakt slag med främre och bakre handen</td>
        <td class="brown">15. Empi uchi, chudan, rak stöt åt sidan med närmaste armen</td>
    </tr>

    <tr>
        <td class="yellow">
            3. Gedan geri, rak spark med främre och bakre benet</td>
        <td class="orange ">6. Hiza geri, chudan, rak knästöt med bakre benet</td>
        <td class="green">9. Mae geri, chudan, rak spark med främre och bakre benet</td>
        <td class="blue">12. Mawashi geri, gedan, cirkulär spark med främre och bakre benet</td>
        <td class="brown">16. Kakato geri, chudan, rak spark med bakre benet</td>
    </tr>

    <tr style="border-bottom: 2px solid #24292e38">
        <td class="yellow"></td>
        <td class="orange "></td>
        <td class="green"></td>
        <td class="blue">13. Mawashi geri, chudan, cirkulär spark med främre och bakre benet</td>
        <td class="brown">17. Yoko geri, chudan, rak spark åt sidan med närmaste benet</td>
    </tr>

    <tr>
        <th colspan="5">KIHON WAZA - KANSETSU WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">
            1. O soto osae, utan grepp, nedläggning snett bakåt</td>
        <td class="orange ">2. Kote gaeshi, grepp i handleden, nedläggning snett framåt</td>
        <td class="green">4. Ude osae, grepp i kragen med tryck, nedläggning framåt</td>
        <td class="blue">6. Irimi nage, grepp i handleden, nedläggning snett bakåt</td>
        <td class="brown">8. Waki gatame, grepp i handleden, nedläggning snett bakåt</td>
    </tr>

    <tr style="border-bottom: 2px solid #24292e38">
        <td class="yellow"></td>
        <td class="orange ">3. Kote gaeshi, grepp i handleden, nedläggning snett bakåt</td>
        <td class="green">5. Ude osae, i rörelse, cirkulär nedläggning</td>
        <td class="blue">7. Irimi nage, i rörelse, nedläggning snett framåt</td>
        <td class="brown">9. Kote mawashi, grepp i kragen med tryck, nedläggning snett framåt</td>
    </tr>

    <tr>
        <th colspan="5">KIHON WAZA - NAGE WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">
            1. Koshi otoshi, utan grepp, nedläggning snett bakåt</td>
        <td class="orange ">2. Uki otoshi, i rörelse, nedläggning snett framåt</td>
        <td class="green">3. O soto otoshi, grepp i kragen med drag, nedläggning snett bakåt</td>
        <td class="blue">5. O goshi, utan grepp, kast snett framåt</td>
        <td class="brown">7. Harai goshi, utan grepp, kast snett framåt</td>
    </tr>

    <tr>
        <td class="yellow"></td>
        <td class="orange "></td>
        <td class="green">4. O soto otoshi, utan grepp, nedläggning snett bakåt</td>
        <td class="blue">6. Tai guruma, utan grepp, nedläggning snett framåt</td>
        <td class="brown">8. Harai goshi, i rörelse, kast snett framåt</td>
    </tr>

    <tr>
        <td class="yellow"></td>
        <td class="orange "></td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">9. Sukui nage, utan grepp, kast snett framåt</td>
    </tr>

    <tr>
        <td class="yellow"></td>
        <td class="orange "></td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">10. Ko uchi gari, utan grepp, kast snett bakåt</td>
    </tr>

    <tr>
        <th class="yellow"></th>
        <th class="orange "></th>
        <th class="green"></th>
        <th class="blue"></th>
        <th class="brown"></th>
    </tr>

    <tr style="margin-bottom: 10px;">
        <th class="yellow" style="background-color: rgb(237, 240, 96);border: 1px solid #24292e38;">
        </th>
        <th class="orange" style="background-color: rgb(240, 128, 60);border: 1px solid #24292e38;">
        </th>
        <th class="green" style="background-color: rgb(81, 152, 114);border: 1px solid #24292e38;"></th>
        <th class="blue" style="background-color: rgb(52, 89, 149);border: 1px solid #24292e38;"></th>
        <th class="brown" style="background-color: rgb(72, 39, 40);border: 1px solid #24292e38;"></th>
    </tr>

    <tr>
        <th colspan="5">JIGO WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow tab">
            1. Grepp
            i två handleder framifrån - Frigöring</td>
        <td class="orange taf">1. Grepp i en handled framifrån
            med två händer med drag - Frigöring</td>
        <td class="green">1. Grepp i två handleder
            framifrån - Shiho nage, shiho nage gatame</td>
        <td class="blue"></td>
        <td class="brown">1. Grepp i håret med två händer och
            knästöt - Gedan juji uke, waki gatame, ude osae gatame</td>
    </tr>

    <tr>
        <td class="yellow taf tlv">2. Grepp
            i två handleder bakifrån - Frigöring</td>
        <td class="orange">2. Grepp i två handleder
            bakifrån - Kote gaeshi, ude hishigi hiza gatame</td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown"></td>

    </tr>
    <tr>
        <td class="yellow">3.
            Grepp
            i håret bakifrån - Tettsui uchi, frigöring</td>
        <td class="orange">3. Grepp i håret framifrån
            - Frigöring</td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown"></td>
    </tr>
    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellow tkv">4. Försök till stryptag framifrån - Jodan soto uke</td>
        <td class="orange">4. Försök till
            stryptag framifrån - Uki otoshi, ude henkan gatame</td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown"></td>
    </tr>
    <tr>
        <td class="yellow k">5.
            Stryptag framifrån - Kawashi, frigöring</td>
        <td class="orange">5. Stryptag framifrån mot vägg
            - Tsuri komi</td>
        <td class="green taf aa">2. Stryptag framifrån - O soto
            otoshi, ude hishigi hiza gatame</td>
        <td class="blue">1. Stryptag från sidan med tryck - Kote hineri, ude henkan
            gatame</td>
        <td class="brown">2. Stryptag från sidan - Harai goshi, ude hishigi hiza
            gatame</td>
    </tr>
    <tr>
        <td class="yellow m k">6.
            Stryptag bakifrån - Maesabaki, kawashi, frigöring</td>
        <td class="orange"></td>
        <td class="green m">3. Stryptag bakifrån med vänster
            arm - Maesabaki, kuzure ude gatami, kote gaeshi, ude hishigi hiza gatame</td>
        <td class="blue">2. Stryptag bakifrån - O soto otoshi, ude hishigi hiza
            gatame</td>
        <td class="brown">3. Stryptag bakifrån - Jodan chikai uke, sukui nage, ude
            hishigi hiza gatame</td>
    </tr>
    <tr>
        <td class="yellow m k">7.
            Stryptag med armen - Maesabaki, kuzure ude osae, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">4. Stryptag med armen med drag - O soto otoshi, ude
            hishigi hiza gatame</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellow jcu k">8. Försök till kravattgrepp från sidan - Jodan chikai uke,
            kawashi, koshi otoshi, ude henkan gatame</td>
        <td class="orange">6. Kravattgrepp
            från sidan - Ushiro osae, ude henkan gatame</td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">5. Kravattgrepp framifrån - Chudan tski, kote hineri, ude
            henkan gatame</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellow taf">9. Grepp i ärmen med drag - O soto osae, ude henkan gatame</td>
        <td class="orange" </td>
        <td class="green taf aa">5. Grepp i
            kläderna med drag - O soto otoshi, ude hishigi hiza gatame</td>
        <td class="blue"></td>
        <td class="brown">6. Kravattgrepp med nedbrytning i sidled - Frigöring, ude
            henkan gatame</td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange">9. Grepp i kläderna med tryck
            - Kuzure ude garami, ushiro osae, ude henkan gatame</td>
        <td class="green">4. Grepp i kläderna med tryck
            - Ude osae, ude osae gatame</td>
        <td class="blue">3. Grepp i kläderna mot vägg - Tate hishigi, ude henkan
            gatame</td>
        <td class="brown">7. Grepp i kläderna med tryck - Kote mawashi, ude osae
            gatame</td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange taf">8. Försök till grepp i kläderna
            - Chudan soto uke, koshi otoshi, ude henkan gatame</td>
        <td class="green"></td>
        <td class="blue">15. Två motståndare, grepp i kläderna - Ude osae</td>
        <td class="brown"></td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow"></td>
        <td class="orange k">7. Grepp om
            nacken och en knästöt - Gedan juji uke, kawashi, frigöring</td>
        <td class="green k">6. Grepp om
            nacken och en knästöt - Gedan juji uke, kawashi, koshi otoshi, ude henkan
            gatame</td>
        <td class="blue"></td>
        <td class="brown"></td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">10. Livtag under armarna framifrån - Tate hishigi, ude henkan
            gatame</td>
        <td class="orange"></td>
        <td class="green">7. Livtag under
            armarna bakifrån - Ude osae, ude osae gatame</td>
        <td class="blue">5. Livtag över armarna framifrån - O goshi, ude hishigi
            hiza gatame</td>
        <td class="brown"></td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green m">8. Högt livtag över armarna
            bakifrån - Maesabaki, kuzure ude osae, ude henkan gatame</td>
        <td class="blue"></td>
        <td class="brown"></td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green m"></td>
        <td class="blue">4 Försök till livtag över armarna framifrån - Uki otoshi,
            ude henkan gatame</td>
        <td class="brown"></td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green m"></td>
        <td class="blue">6. Försök till grepp om båda benen framifrån - Tai guruma,
            ude henkan gatame</td>
        <td class="brown"></td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">11. Stryptag mot liggande sittande vid sidan - Frigöring, ude
            henkan gatame</td>
        <td class="orange">10. Stryptag mot
            liggande sittande mellan benen - Frigöring, ude henkan gatame</td>
        <td class="green">9. Stryptag mot
            liggande sittande mellan benen - Frigöring</td>
        <td class="blue">7. Stryptag mot liggande med armen - Frigöring, ude henkan
            gatame</td>
        <td class="brown">8. Flera svingslag mot liggande sittande på magen - Jodan
            chikai uke, frigöring</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow ub">12. Hotfullt närmande mot liggande - Uppgång bakåt</td>
        <td class="orange"></td>
        <td class="green"></td>
        <td class="blue">9. Hotfullt uppträdande - Ude hishigi</td>
        <td class="brown">9. Hotfullt närmande mot liggande - Uppgång framåt, jodan
            chikai uke, hiza kansetsu waza</td>
    </tr>
    <tr>
        <td class="yellow">13.
            Hotfullt närmande - Hejda med tryck</td>
        <td class="orange"></td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">10. Hotfullt uppträdande - Hara osae, ude henkan gatame
        </td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow jcu k taf">14. Kort svingslag - Jodan chikai uke, kawashi, koshi otoshi, ude
            henkan gatame</td>
        <td class="orange">11. Långt
            svingslag - Ju jodan uchi uke, uki otoshi, ude henkan gatame</td>
        <td class="green ub">10. Svingslag
            mot liggande mot huvudet - Jodan chikai uke, hiza kansetsu waza</td>
        <td class="blue">10. Kort svingslag - Jodan chikai uke, o soto otoshi, ude
            hishigi hiza gatame</td>
        <td class="brown">11. Kort svingslag - Jodan chikai uke, uki otoshi, ude
            henkan gatame</td>
    </tr>
    <tr>
        <td class="yellow taf">15.
            Långt svingslag - Morote jodan uke, o soto osae, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="green taf aa">11. Rakt slag mot huvudet - Jodan
            soto uke, o soto otoshi, ude hishigi hiza gatame</td>
        <td class="blue">11. Långt svingslag - Morote jodan uke, hiza geri, tai
            guruma, ude henkan gatame</td>
        <td class="brown">12. Kort svingslag - Jodan chikai uke, ko uchi gari</td>
    </tr>
    <tr>
        <td class="yellow taf"></td>
        <td class="orange"></td>
        <td class="green taf aa"></td>
        <td class="blue">12. Svingslag, backhand - Morote jodan uke, irimi nage,
            ude henkan gatame</td>
        <td class="brown">19. Två motståndare, svingslag och svingslag - Morote
            jodan uke, hiza geri, tai guruma morote jodan uke, hiza geri, tai
            guruma</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow"></td>
        <td class="orange taf">12. Rak spark
            mot magen - Gedan uchi uke, koshi otoshi, ude henkan gatame</td>
        <td class="green taf">12. Cirkulär
            spark mot benen - San ren uke, o soto osae, ude henkan gatame</td>
        <td class="blue">8. Spark mot liggande mot huvudet - San ren uke, hiza
            kansetsu waza</td>
        <td class="brown">13. Rak spark mot magen - Gedan uchi uke, irimi nage, ude
            henkan gatame</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow tlh">16. Påkslag mot huvudet - Ju morote jodan uke</td>
        <td class="orange">13. Påkslag mot
            huvudet - Ju jodan uchi uke, uki otoshi, ude hishigi hiza gatame</td>
        <td class="green ">13. Påkslag mot
            huvudet, backhand - Ju morote jodan uke, ude osae, ude osae gatame</td>
        <td class="blue">13. Påkslag mot huvudet, backhand - Ju jodan uchi uke,
            irimi nage, ude hishigi hiza gatame</td>
        <td class="brown">14. Påkslag mot huvudet forehand och backhand - Tsuri
            ashi, ayumi ashi, ju jodan uchi uke, irimi nage, ude hishigi hiza
            gatame</td>
    </tr>
    <tr>
        <td class="yellow tlv">17.
            Påkslag mot huvudet, backhand - Ju morote jodan uke</td>
        <td class="orange">14. Påkslag mot huvudet,
            backhand - Ju morote jodan uke, kote gaeshi, ude hishigi hiza gatame</td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">15. Påkslag mot huvudet backhand och forehand - Tsuri
            ashi, ayumi ashi, morote jodan uke, o soto osae, ude hishigi hiza
            gatame</td>
    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">18. Knivhot mot magen - Grepp, shotei uchi jodan</td>
        <td class="orange">15. Knivhot mot
            magen - Grepp, shotei uchi jodan, kote gaeshi, ude hishigi hiza gatame</td>
        <td class="green">14. Knivhot mot
            halsen, vänster sida - Grepp, kin geri</td>
        <td class="blue">14. Grepp och knivhot mot magen - Grepp, kin geri, kote
            gaeshi, ude hishigi hiza gatame</td>
        <td class="brown">16. Grepp och knivhot mot halsen, höger sida - Grepp waki
            gatame, ude hiza osae gatame</td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green">15. Knivhot mot halsen, höger
            sida - Grepp, kin geri</td>
        <td class="blue"></td>
        <td class="brown">17. Knivhot mot halsen bakifrån med höger arm - Maesabaki, kuzure ude osae, ude hiza osae
            gatame</td>
    </tr>
    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green"></td>
        <td class="blue"></td>
        <td class="brown">18. Knivhot mot halsen bakifrån med vänster arm - Maesabaki, kuzure ude garami, kote
            gaeshi, ude hishigi hiza gatame</td>
    </tr>


    <tr>
        <th class="yellow"></th>
        <th class="orange "></th>
        <th class="green"></th>
        <th class="blue"></th>
        <th class="brown"></th>
    </tr>

    <tr style="margin-bottom: 10px;">
        <th class="yellow" style="background-color: rgb(237, 240, 96);border: 1px solid #24292e38;">
        </th>
        <th class="orange" style="background-color: rgb(240, 128, 60);border: 1px solid #24292e38;">
        </th>
        <th class="green" style="background-color: rgb(81, 152, 114);border: 1px solid #24292e38;"></th>
        <th class="blue" style="background-color: rgb(52, 89, 149);border: 1px solid #24292e38;"></th>
        <th class="brown" style="background-color: rgb(72, 39, 40);border: 1px solid #24292e38;"></th>
    </tr>

    <tr>
        <th colspan="5">RENRAKU WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellow">1. Försök till stryptag framifrån - Försök till kravattgrepp från sidan => Jodan soto uke
            - Jodan chikai uke, kawashi,
            koshi otoshi, ude henkan gatame</td>
        <td class="orange">1. Grepp i två handleder framifrån - Kort svingslag => Frigöring - Jodan chikai uke,
            kawashi, koshi otoshi, ude henkan
            gatame</td>
        <td class="green">1. Grepp i två handleder bakifrån - Rak spark mot magen => Frigöring - Gedan uchi uke,
            koshi otoshi, ude henkan gatame</td>
        <td class="blue">1. Försök till grepp i kläderna - Chudan soto uke. koshi otoshi, ude henkan gatame =>
            Valfri jigo waza anpassade efter
            ukes agerande</td>
        <td class="brown">1. Stryptag bakifrån - O soto otoshi, ude hishigi hiza gatame => Valfri jigo waza anpassad
            efter ukes agerande</td>
    </tr>

    <tr>
        <td class="yellow"></td>
        <td class="orange">2. Hotfullt närmande - Långt svingslag => Morote jodan uke, o soto osae, ude henkan
            gatame</td>
        <td class="green">2. Hotfullt närmande mot liggande - Långt svingslag => Uppgång bakåt - Ju jodan uchi uke,
            uki otoshi, ude henkan gatame</td>
        <td class="blue">2. Grepp i kläderna med drag - O soto otosho, ude hishigi hiza gatame => Valfri jigo waza
            anpassade efter ukes agerande</td>
        <td class="brown">2. Grepp om nacken och en knästöt - Gedan juji uke, frigöring => Valfri jigo waza anpassad
            efter ukes agerande</td>
    </tr>

    <tr>
        <td class="yellow"></td>
        <td class="orange"></td>
        <td class="green"></td>
        <td class="blue">3. Cirkulär spark mot benen - San ren uke, o soto osae, ude henkan gatame => Valfri jigo
            waza anpassad efter ukes
            agerande</td>
        <td class="brown">3. Livtag över armara framifrån - O goshi, ude hishigi hiza gatame => Valfri jigo waza
            anpassad efter ukes agerande</td>
    </tr>


    <tr>
        <th class="yellow"></th>
        <th class="orange "></th>
        <th class="green"></th>
        <th class="blue"></th>
        <th class="brown"></th>
    </tr>


    <tr style="margin-bottom: 10px;">
        <th class="yellow" style="background-color: rgb(237, 240, 96);border: 1px solid #24292e38;">
        </th>
        <th class="orange" style="background-color: rgb(240, 128, 60);border: 1px solid #24292e38;">
        </th>
        <th class="green" style="background-color: rgb(81, 152, 114);border: 1px solid #24292e38;"></th>
        <th class="blue" style="background-color: rgb(52, 89, 149);border: 1px solid #24292e38;"></th>
        <th class="brown" style="background-color: rgb(72, 39, 40);border: 1px solid #24292e38;"></th>
    </tr>

    <tr style="border-bottom: 2px solid #24292e38">
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>RANDORI</th>
        <th>RANDORI</th>

    </tr>

    <tr>
        <td class="yellow">1. Försvar mot en motståndare</td>
        <td class="orange">1. Försvar mot en motståndare</td>
        <td class="green">1. Försvar mot en motståndare</td>
        <td class="blue">1. Försvar mot en motståndare</td>
        <td class="brown">1. Försvar mot en motståndare</td>
    </tr>

</table>

</table>

<h3 id="grund_tit">GRUNDLÄGGANDE TEKNIKER</h3>

<table id="grund">
    <tr>
        <th>TAISABAKI WAZA</th>
        <th>UKEMI WAZA</th>
        <th>UKE WAZA</th>
        <th>KATAME WAZA</th>
        <th>KAMAE</th>
    </tr>

    <tr>
        <td>Tsuri ashi, framåt</td>
        <td>Ushiro ukemi, med dämpning</td>
        <td>Jodan chikai uke</td>
        <td>Ude henkan gatame</td>
        <td>Kamae neutral</td>
    </tr>

    <tr>
        <td>Tsuri ashi, bakåt</td>
        <td>Mae ukemi</td>
        <td>Morote jodan uke</td>
        <td>Ude osae gatame</td>
        <td>Kamae beredd</td>
    </tr>

    <tr>
        <td>Ayumi ashi, samma kamae</td>
        <td>Ushiro ukemi</td>
        <td>Ju morote jodan uke</td>
        <td>Ude hishigi hiza gatame</td>
        <td>Kamae med gard</td>
    </tr>

    <tr>
        <td>Ayumi ashi, växlande kamae</td>
        <td>Mae ukemi, med dämpning</td>
        <td>Gedan juji uke</td>
        <td>Ude hiza osae gatame</td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabakai kort, höger</td>
        <td>Otoshi ukemi</td>
        <td>Soto uke, jodan</td>
        <td>Kote gatame</td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki kort, vänster</td>
        <td></td>
        <td>Soto uke, chudan</td>
        <td>Kata osae</td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki lång, höger</td>
        <td></td>
        <td>Soto uke, gedan</td>
        <td>Kuzure kata osae</td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki lång vänster</td>
        <td></td>
        <td>Uchi uke, jodan</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Maesabaki</td>
        <td></td>
        <td>Uchi uke, chudan</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Uppgång bakåt</td>
        <td></td>
        <td>Uchi uke, gedan</td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <td>Uppgång framåt</td>
        <td></td>
        <td>Ju jodan uchi uke</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Kawashi</td>
        <td></td>
        <td>San ren uke</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>Chudan barai</td>
        <td></td>
        <td></td>
    </tr>

</table>