<div class="searches">
    <input id="search_field" type="text" id="search" placeholder="Sök på nyckelord" />
    <button onclick="search_mon()" id="search_button">Sök</button>
    <button onclick="clear_search()" id="clear_button">Rensa</button>


    <select class="group" name="group" id="group">
        <option value="" selected disabled hidden>Välj grupp</option>
        <option value="M1">M1</option>
        <option value="M2">M2</option>
        <option value="M3">M3</option>
        <option value="B0">B0</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
    </select>

    <div class="date">
        <input type="date" class="thisdate" id="mon_date" name="date" value="2024-08-01" min="2024-01-01"
            max="2030-12-31" />
    </div>


    <button id="create" onclick="createFile_mon()">Skapa pass</button>

</div>

<p id="info"></p>

<table id="table">

    <tr style="margin-bottom: 10px;">
        <th class="yellowwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #EDF060 8px, #EDF060 28px);border: 1px solid #24292e38;">
        </th>
        <th class="yellow"
            style="background: repeating-linear-gradient( 180deg, #EDF060, #EDF060 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orangewhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #F0803C 8px, #F0803C 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orange"
            style="background: repeating-linear-gradient( 180deg, #F0803C, #F0803C 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="greenwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #519872 8px, #519872 28px);border: 1px solid #24292e38;">
        </th>
        <th class="green"
            style="background: repeating-linear-gradient( 180deg, #519872, #519872 14px, #FFffff 8px, #FFffff 28px); border: 1px solid #24292e38;">
        </th>
    </tr>

    <tr>
        <th colspan="6">KIHON WAZA - ATEMI WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38;border-bottom: 2px solid #24292e38">
        <td class="yellowwhite">1. Gedan geri, rak spark med främre och bakre benet</td>
        <td class="yellow ">1. Shotei uchi, chudan, rak stöt med främre och bakre handen</td>
        <td class="orangewhite">1. Chudan tski, stöt snett uppåt med bakre handen</td>
        <td class="orange">1. Hiza geri, chudan, rak knästöt med bakre benet</td>
        <td class="greenwhite">1. Kin geri, gedan, spark snett uppåt med främre och bakre benet</td>
        <td class="green">1. Mae geri, chudan, rak spark med främre och bakre benet</td>

    </tr>


    <tr>
        <th class="yellowwhite"></th>
        <th class="yellow "></th>
        <th class="orangewhite"></th>
        <th class="orange"></th>
        <th class="greenwhite"></th>
        <th class="green"></th>

    </tr>

    <tr>
        <th colspan="6">KIHON WAZA - KANSETSU WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38;border-bottom: 2px solid #24292e38">
        <td class="yellowwhite"></td>
        <td class="yellow ">1. O soto osae, utan grepp, nedläggning snett bakåt</td>
        <td class="orangewhite"></td>
        <td class="orange">1. Kote gaeshi, grepp i handleden, nedläggning snett bakåt</td>
        <td class="greenwhite">1. Ude osae, i rörelse, cirkulär nedläggning</td>
        <td class="green">1. Ude osae, grepp i kragen med tryck, nedläggning framåt</td>

    </tr>

    <tr>
        <th class="yellowwhite"></th>
        <th class="yellow "></th>
        <th class="orangewhite"></th>
        <th class="orange"></th>
        <th class="greenwhite"></th>
        <th class="green"></th>

    </tr>

    <tr>
        <th colspan="6">KIHON WAZA - NAGE WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite">1. Koshi otoshi, utan grepp, nedläggning snett bakåt</td>
        <td class="yellow "></td>
        <td class="orangewhite">1. Uki otoshi, i rörelse, nedläggning snett framåt</td>
        <td class="orange"></td>
        <td class="greenwhite">1. O soto otoshi, utan grepp, nedläggning snett bakåt</td>
        <td class="green">1. O soto otoshi, grepp i kragen med drag, nedläggning snett bakåt</td>

    </tr>

    <tr>
        <th class="yellowwhite"></th>
        <th class="yellow "></th>
        <th class="orangewhite"></th>
        <th class="orange"></th>
        <th class="greenwhite"></th>
        <th class="green"></th>

    </tr>

    <tr style="margin-bottom: 10px;">
        <th class="yellowwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #EDF060 8px, #EDF060 28px);border: 1px solid #24292e38;">
        </th>
        <th class="yellow"
            style="background: repeating-linear-gradient( 180deg, #EDF060, #EDF060 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orangewhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #F0803C 8px, #F0803C 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orange"
            style="background: repeating-linear-gradient( 180deg, #F0803C, #F0803C 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="greenwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #519872 8px, #519872 28px);border: 1px solid #24292e38;">
        </th>
        <th class="green"
            style="background: repeating-linear-gradient( 180deg, #519872, #519872 14px, #FFffff 8px, #FFffff 28px); border: 1px solid #24292e38;">
        </th>
    </tr>

    <tr>
        <th colspan="6">JIGO WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class=" yellowwhite tab">
            1. Grepp
            i två handleder framifrån - Frigöring</td>
        <td class="yellow">1.
            Grepp
            i håret bakifrån - Tettsui uchi, frigöring</td>

        <td class="orangewhite">1. Grepp i håret framifrån -
            Frigöring</td>
        <td class="orange taf">1. Grepp i en handled framifrån
            med två händer med drag - Frigöring</td>

        <td class="greenwhite"></td>
        <td class="green">1. Grepp i två handleder
            framifrån - Shiho nage, shiho nage gatame</td>

    </tr>

    <tr>
        <td class="yellowwhite taf tlv">2. Grepp
            i två handleder bakifrån - Frigöring</td>
        <td class="yellow"></td>
        <td class="orangewhite"></td>
        <td class="orange">2. Grepp i två handleder
            bakifrån - Kote gaeshi, ude hishigi hiza gatame</td>
        <td class="greenwhite"></td>
        <td class="green"></td>

    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellowwhite tkv">3. Försök till stryptag framifrån - Jodan soto uke</td>
        <td class="yellow m">2.
            Stryptag med armen - Maesabaki, kuzure ude osae, ude henkan gatame</td>

        <td class="orangewhite">2. Försök till
            stryptag framifrån - Uki otoshi, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green"></td>
    </tr>
    <tr>
        <td class="yellowwhite k">4.
            Stryptag framifrån - Kawashi, frigöring</td>
        <td class="yellow"></td>
        <td class="orangewhite">3. Stryptag framifrån mot vägg
            Tsuri komi</td>
        <td class="orange"></td>
        <td class="greenwhite m">1. Stryptag bakifrån med vänster arm - Maesabaki, kuzure ude garami, kote gaeshi,
            ude
            hishigi
            hiza gatame</td>
        <td class="green">2. Stryptag framifrån - O soto
            otoshi, ude hishigi hiza gatame</td>
    </tr>
    <tr>
        <td class="yellowwhite m k">5.
            Stryptag bakifrån - Maesabaki, kawashi, frigöring</td>
        <td class="yellow"></td>
        <td class="orangewhite m"></td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green"></td>

    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellowwhite jcu k">6. Försök till kravattgrepp från sidan - Jodan chikai uke,
            kawashi, koshi otoshi, ude henkan gatame</td>
        <td class="yellow"></td>

        <td class="orangewhite">4. Kravattgrepp
            från sidan - Ushiro osae, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green"></td>
    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellowwhite taf"></td>
        <td class="yellow">3. Grepp i ärmen med drag - O soto osae, ude henkan gatame</td>

        <td class="orangewhite">5. Grepp i kläderna med tryck - Kuzure ude garami, ushiro osae, ude henkan gatame
        </td>
        <td class="orange taf aa">4. Försök till grepp i kläderna
            - Chudan soto uke, koshi otoshi, ude henkan gatame</td>
        <td class="greenwhite">3. Grepp i
            kläderna med drag - O soto otoshi, ude hishigi hiza gatame</td>
        <td class="green">3. Grepp i kläderna med tryck
            - Ude osae, ude osae gatame</td>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite"></td>
        <td class="yellow"></td>
        <td class="orangewhite"></td>
        <td class="orange k">3. Grepp om
            nacken och en knästöt - Gedan juji uke, kawashi, frigöring</td>
        <td class="greenwhite k">2. Grepp om nacken och en knästöt - Gedan juji uke, kawashi, koshi otoshi, ude
            henkan
            gatame
        </td>
        <td class="green"></td>

    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite"></td>
        <td class="yellow"></td>

        <td class="orangewhite"></td>
        <td class="orange"></td>
        <td class="greenwhite">4. Livtag under
            armarna bakifrån - Ude osae, ude osae gatame</td>
        <td class="green m">4. Högt livtag över armarna
            bakifrån - Maesabaki, kuzure ude osae, ude henkan gatame</td>
    </tr>

    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite">7. Stryptag mot liggande sittande vid sidan - Frigöring, ude
            henkan gatame</td>
        <td class="yellow"></td>
        <td class="orangewhite">6. Stryptag mot
            liggande sittande mellan benen - Frigöring, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="greenwhite">5. Stryptag mot liggande sittande mellan benen - Frigöring</td>
        <td class="green"></td>

    </tr>
    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite">8.
            Hotfullt närmande - Hejda med tryck</td>
        <td class="yellow ub">4. Hotfullt närmande mot liggande - Uppgång bakåt</td>
        <td class="orangewhite"></td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green"></td>

    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite jcu k taf"></td>
        <td class="yellow jcu k">5. Kort svingslag - Jodan chikai uke, kawashi, koshi otoshi, ude
            henkan gatame</td>
        <td class="orangewhite">7. Långt svingslag - Ju jodan uchi uke, uki otoshi, ude henkan gatame</td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green jcu">5. Svingslag mot liggande mot huvudet - Jodan chikai uke, hiza kansetsu waza</td>

    </tr>
    <tr>
        <td class="yellowwhite"></td>
        <td class="yellow">6.
            Långt svingslag - Morote jodan uke, o soto osae, ude henkan gatame</td>
        <td class="orangewhite taf aa"></td>
        <td class="orange"></td>
        <td class="greenwhite"></td>
        <td class="green">6. Rakt slag mot huvudet - Jodan soto uke, o soto otoshi, ude hishigi hiza gatame</td>

    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite"></td>
        <td class="yellow taf"></td>
        <td class="orangewhite taf"></td>
        <td class="orange">5. Rak spark
            mot magen - Gedan uchi uke, koshi otoshi, ude henkan gatame</td>
        <td class="greenwhite"></td>
        <td class="green"></td>
    </tr>

    <tr style="border-top: 2px solid #24292e38">
        <td class="yellowwhite tlh"></td>
        <td class="yellow">7. Påkslag mot huvudet - Ju morote jodan uke</td>
        <td class="orangewhite"></td>
        <td class="orange">6. Påkslag mot huvudet - Ju jodan uchi uke, uki otoshi, ude hishigi hiza gatame</td>
        <td class="greenwhite">6. Påkslag mot huvudet, backhand - Ju morote jodan uke, ude osae, ude osae gatame
        </td>
        <td class="green"></td>
    </tr>
    <tr>
        <td class="yellowwhite tlv"></td>
        <td class="yellow"></td>
        <td class="orangewhite"></td>
        <td class="orange"> 7. Påkslag mot huvudet, backhand - Ju morote jodan uke, kote gaeshi, ude hishigi hiza
            gatame</td>
        <td class="greenwhite"></td>
        <td class="green"></td>
    </tr>

    <tr>
        <th class="yellowwhite"></th>

        <th class="yellow "></th>

        <th class="orangewhite"></th>

        <th class="orange"></th>

        <th class="greenwhite"></th>

        <th class="green"></th>



    </tr>

    <tr style="margin-bottom: 10px;">
        <th class="yellowwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #EDF060 8px, #EDF060 28px);border: 1px solid #24292e38;">
        </th>
        <th class="yellow"
            style="background: repeating-linear-gradient( 180deg, #EDF060, #EDF060 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orangewhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #F0803C 8px, #F0803C 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orange"
            style="background: repeating-linear-gradient( 180deg, #F0803C, #F0803C 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="greenwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #519872 8px, #519872 28px);border: 1px solid #24292e38;">
        </th>
        <th class="green"
            style="background: repeating-linear-gradient( 180deg, #519872, #519872 14px, #FFffff 8px, #FFffff 28px); border: 1px solid #24292e38;">
        </th>
    </tr>

    <tr>
        <th colspan="6">RENRAKU WAZA</th>
    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellowwhite"></td>
        <td class="yellow">1. Försök till stryptag framifrån - Försök till kravattgrepp från sidan = Jodan soto uke
            - Jodan chikai uke, kawashi.
            koshi otoshi, ude henkan gatame</td>
        <td class="orangewhite">1. Grepp i två handleder framifrån - Kort svingslag = Frigöring - Jodan chikai uke,
            kawashi, koshi otoshi, ude henkan
            gatame</td>
        <td class="orange">2. Hotfullt närmande - Långt svingslag = Hejda med tryck - Morote jodan uke, o soto
            osae, ude henkan gatame</td>
        <td class="greenwhite">2. Hotfull närmande mot liggande - Långt svingslag = Uppgång bakåt - Ju jodan uchi
            uke, uki otoshi, ude henkan gatame</td>
        <td class="green">1. Grepp i två handleder bakifrån - Rak spark mot magen = Frigöring - Gedan uchi uke, koshi
            otoshi, ude henkan gatame</td>
    </tr>

    <tr>
        <th class="yellowwhite"></th>
        <th class="yellow "></th>
        <th class="orangewhite"></th>
        <th class="orange"></th>
        <th class="greenwhite"></th>
        <th class="green"></th>

    </tr>

    <tr style="margin-bottom: 10px;">
        <th class="yellowwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #EDF060 8px, #EDF060 28px);border: 1px solid #24292e38;">
        </th>
        <th class="yellow"
            style="background: repeating-linear-gradient( 180deg, #EDF060, #EDF060 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orangewhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #F0803C 8px, #F0803C 28px);border: 1px solid #24292e38;">
        </th>
        <th class="orange"
            style="background: repeating-linear-gradient( 180deg, #F0803C, #F0803C 14px, #FFffff 8px, #FFffff 28px);border: 1px solid #24292e38;">
        </th>
        <th class="greenwhite"
            style="background: repeating-linear-gradient( 180deg, #ffffff, #ffffff 14px, #519872 8px, #519872 28px);border: 1px solid #24292e38;">
        </th>
        <th class="green"
            style="background: repeating-linear-gradient( 180deg, #519872, #519872 14px, #FFffff 8px, #FFffff 28px); border: 1px solid #24292e38;">
        </th>
    </tr>

    <tr>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>
        <th>YAKOSUKO GEIKO</th>


    </tr>

    <tr style="border-top: 2px solid #24292e38;">
        <td class="yellowwhite">1. Försvar mot en motståndare</td>
        <td class="yellow">1. Försvar mot en motståndare</td>
        <td class="orangewhite">1. Försvar mot en motståndare</td>
        <td class="orange">1. Försvar mot en motståndare</td>
        <td class="greenwhite">1. Försvar mot en motståndare</td>
        <td class="green">1. Försvar mot en motståndare</td>

    </tr>

</table>

<h3 id="grund_tit">GRUNDLÄGGANDE TEKNIKER</h3>

<table id="grund">
    <tr>
        <th>TAISABAKI WAZA</th>
        <th>UKEMI WAZA</th>
        <th>UKE WAZA</th>
        <th>KATAME WAZA</th>
        <th>KAMAE</th>
    </tr>

    <tr>
        <td>Tsuri ashi, framåt</td>
        <td>Ushiro ukemi, med dämpning</td>
        <td>Jodan chikai uke</td>
        <td>Ude henkan gatame</td>
        <td>Kamae neutral</td>
    </tr>

    <tr>
        <td>Tsuri ashi, bakåt</td>
        <td>Mae ukemi</td>
        <td>Morote jodan uke</td>
        <td>Ude osae gatame</td>
        <td>Kamae beredd</td>
    </tr>

    <tr>
        <td>Ayumi ashi, samma kamae</td>
        <td>Ushiro ukemi</td>
        <td>Ju morote jodan uke</td>
        <td>Ude hishigi hiza gatame</td>
        <td>Kamae med gard</td>
    </tr>

    <tr>
        <td>Ayumi ashi, växlande kamae</td>
        <td>Mae ukemi, med dämpning</td>
        <td>Gedan juji uke</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabakai kort, höger</td>
        <td>Otoshi ukemi</td>
        <td>Soto uke, jodan</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki kort, vänster</td>
        <td></td>
        <td>Soto uke, chudan</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki lång, höger</td>
        <td></td>
        <td>Uchi uke, gedan</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Taisabaki lång vänster</td>
        <td></td>
        <td>Ju jodan uchi uke</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Maesabaki</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Uppgång bakåt</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Kawashi</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>