<h3 id="stat_title">Hitta tidigare pass och se statistik på hur många gånger en teknik har varit med på ett pass</h3>

<div class="options">
    <select class="group" name="group" id="stat_group">
        <option value="" selected disabled hidden>Välj grupp</option>
        <option value="M1">M1</option>
        <option value="M2">M2</option>
        <option value="M3">M3</option>
        <option value="B0">B0</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="V1">V1</option>
        <option value="V2">V2</option>
        <option value="S1">S1</option>
    </select>

    <div class="from">
        <label for="start">Från</label>
        <input type="date" id="start" name="trip-start" value="2024-01-01" min="2024-01-01" max="2030-12-31" />
    </div>

    <div class="to">
        <label for="end">Till</label>
        <input type="date" id="end" name="trip-end" value="2024-01-01" min="2024-01-01" max="2030-12-31" />
    </div>

    <button id="statistics_button">Se statistik</button>
</div>


<div id="results"></div>